@model Event

@{
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
    var groups = new SelectList(ViewBag.Groups, "GroupID", "GroupName" );
}

<div class="main text-center">
    <h3 class="text-center mt-5"> Add New Event </h3>
    <form action="AddEvents" method="post" class="m-4 text-center">

        <div class="row">

            <div class="form-floating col-3 m-3">
                <input asp-for="Title" class="form-control" id="floatingPassword" placeholder="Event Title">
                <label for="floatingPassword">Event Title</label>
            </div>
            <div class="form-floating col-3 m-3">
                <input asp-for="Title_Ar" class="form-control" id="floatingPassword" placeholder="Event Title">
                <label for="floatingPassword">Event Title_Ar</label>
            </div>
        </div>
        <div class="row">
            <div class="form-floating col-3 m-3">
                <input asp-for="Place" class="form-control" id="floatingPassword" placeholder="Place">
                <label for="floatingPassword">Place</label>
            </div>
            <div class="form-floating col-3 m-3">
                <input asp-for="Place_Ar" class="form-control" id="floatingPassword" placeholder="Place">
                <label for="floatingPassword">Place_Ar</label>
            </div>
        </div>

        <div class="row">
            <div class="form-floating col-3 m-3">
                <input asp-for="Description" class="form-control" id="floatingInput" placeholder="">
                <label for="floatingInput">Description</label>
            </div>
            <div class="form-floating col-3 m-3">
                <input asp-for="Description_Ar" class="form-control" id="floatingPassword" placeholder="">
                <label for="floatingPassword">Description_Ar</label>
            </div>
        </div>

        <div class="row">
            <div class="form-floating col-3 m-3">
                <input asp-for="EventType" class="form-control" id="floatingPassword" placeholder="Type of Event">
                <label for="floatingPassword">Type of Event</label>
            </div>
            <div class="form-floating col-3 m-3">
                <input asp-for="EventType_Ar" class="form-control" id="floatingPassword" placeholder="Type of Event">
                <label for="floatingPassword">Type of Event_Ar</label>
            </div>
            
        </div>
        <div class="row">
            <div class="form-floating col-3 m-3">
                <label asp-for="Groups" class="form-label"></label>
                <select class="form-control m-5 " asp-for="GroupId" asp-items="@groups">
                    <options value="@null">--Select GroupName--</options>

                </select>
            </div>
        </div>
        
        <div class="form-floating row mb-5">
            <div class="col-10 d-flex justify-content-end ms-3">
                <input type="submit" class=" me-5 button rounded-4 w-25 pt-1 pb-1 fs-6" id="floatingInput"
                       placeholder="submit">
            </div>
        </div>


    </form>
</div>