@model List<Event>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">

    @if (Model == null)
    {
        <p>no Events</p>
    }
    else
    {
        <h3 class="text-center mt-3"> Events </h3>
            <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-evenly mt-4">
        @foreach (var events in Model)
        {
                <div class="col-md-5">
                    <div class="card h-100 border-dark rounded-4 custom-card-bg dashed-border" style="">
                        <div class="card-body">
                            <h3 class="card-title text-center fw-bold">@events.Title</h3>
                            <p class="card-text"><h5>Description: </h5> @events.Description</p>
                            <p class="card-text"><h5>Place:</h5> @events.Place</p>
                        </div>
                    </div>
                </div>
         }
            </div>
     }


